# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# The binary
go-mcp-host
deploy/manifests
vendor/
deploy/helm-chart/Chart.yaml

#
.vscode/
.DS_Store
.env
.docker.env

# build info perissted in files
BRANCH
COMMIT
VERSION
